#tablero{
    width: 100%;
    height: 100%;
    margin: 1vh;
}
#fila{
    display: flex;
}
#celula1{
    width: 20px;
    height: 20px;
    margin: 1px;
    background: #7401DF;
}
#celula0{
    width: 20px;
    height: 20px;
    margin: 1px;
    background: #DF01D7;
}